table {
    width: 100%;
  }
  .user-paginator
  {
    width: 100%;
    
  }
  .page{
    align-items: center;
    color:white;
    padding: 0 1rem;
    background: #f1f5f9;
    &__box{
      min-height: 120px;
      background: #1e293b;
      margin: 0 -1rem;
      font-size: 36px;

    }
    &__content{
        min-height: calc(100vh - 178px);
        border-radius: 10px;
        margin-top: -2rem;
        background: white;
        color: black;
        font-size: 2rem;
        &__data{
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
    }
}

h3{
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1e293b;
  font-size: 1rem;
  font-weight: 500;
}

.update-user{
  width: 50%;
}
